body {
    font-family:'Roboto', 'Segoe UI', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 
     'sans-serif';
      background-color:#E5E5E5;
}
a {text-decoration: none;}
ul, ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
h1, h2, h3, p {
    margin: 0px;   
}
p {
    padding: 0px;
    margin: 0px;
}
img {
    display: block;
    margin: 0px;
    padding: 0px;
}
.page {
    background-color: var(--page-backround-color);
    }
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    color: var(--title-text-color);
}