.page-header {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom:1px solid var(--border-header);
    background-color: var(--logo-text-color);
}
.hader-nav {
    display:flex;
    align-items: center;
    }
   