.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    text-align: left;
    color: var(--accent-color);
}

.logo--colorcolor-black {
    color: var(--title-text-color);
    }
.logo--color-white {
color: var(--logo-text-color);
}